* {
  margin: 0;
}
.App {
  background-color: #fafafa;
  /* display: flex; */
}
.app__header {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 1;
  border-bottom: 1px solid lightgray;
  background-color: white;
  object-fit: contain;
  /* padding: 20px;s */
  justify-content: space-between;
}
.app__headerImage {
  /* doesnt look strectched */
  object-fit: contain;
  padding: 20px;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__postsRight {
  margin-left: 20px;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
